{{#each items}}
  <div class="media">
    <a href="{{url}}" class="pull-left">
      <img src="{{image}}" alt="{{title}}" class="media-object img-rounded">
    </a>
    <div class="media-body">
      <a href="{{url}}"><h4 class="media-heading text-primary">{{title}}</h4></a>
      {{content}}
      <h5 class="info text-muted">{{author}}, {{publishedDate}}</h5>
    </div>
  </div>
{{/each}}