{{#each items}}
  <div class="media">
    <a href="{{url}}" class="pull-left">
      <img src="{{image}}" alt="{{title}}" class="media-object">
    </a>
    <div class="media-body">
      <h4 class="media-heading">{{title}}</h4>
      {{content}}
    </div>
  </div>
{{/each}}